body
{
    background-image:url(10.jpg);
    background-repeat: no-repeat;
    background-size: 1800px 600px;
    
}
.l2
{
    margin-top: 20px;    
}
@media only screen and (max-width:1050px)
{

}
@media only screen and (max-width:768px)
{

}
@media only screen and (max-width:480px)
{

}

